<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stefan.recipesuggestor"
    android:name="com.example.stefan.Activities.ApplicationBase">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/poticon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.stefan.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.stefan.Activities.AddRecipeActivity"
            android:label="@string/title_activity_add_recipe" >
        </activity>
        <activity
            android:name="com.example.stefan.Activities.MyRecipesActivity"
            android:label="@string/title_activity_my_recipes" >
        </activity>
        <activity
            android:name="com.example.stefan.Activities.SuggestRecipeActivity"
            android:label="@string/title_activity_suggest_recipe"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.example.stefan.Activities.AddIngredientsActivity"
            android:label="@string/title_activity_add_ingredients"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.example.stefan.Activities.AddSpicesActivity"
            android:label="@string/title_activity_add_spices"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.example.stefan.Activities.RecipePreparingActivity"
            android:label="@string/title_activity_recipe_preparing" >
        </activity>
        <activity
            android:name="com.example.stefan.Activities.RecipeDetailsActivity"
            android:label="@string/title_activity_recipe_details" >
        </activity>
        <activity
            android:name="com.example.stefan.Activities.HowToPrepareActivity"
            android:label="@string/title_activity_how_to_prepare" >
        </activity>
    </application>

</manifest>
